<app-header></app-header>
<div>
  <div
    style="
      background-image: url(assets/images/company/company-img.jpg);
      background-position: center;
      object-fit: cover;
      background-repeat: no-repeat;
    "
    class="h-[30rem] flex items-center justify-center bg-fixed mb-16"
  >
    <div>
      <h1 class="uppercase text-white text-5xl font-bold">
        company <span class="border-b-4 border-[#B749A2]">profile</span>
      </h1>
    </div>
  </div>

  <div class="flex flex-col items-center justify-center space-y-4 mb-32">
    <img
      class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300"
      src="assets/images/company/company-logo.png"
      alt=""
    />
    <h1 class="uppercase text-3xl font-semibold text-[#5C63B1]">
      company name
    </h1>
    <h6 class="uppercase text-sm font-medium text-gray-900">
      Company slogan goes here!
    </h6>
  </div>

  <div class="px-10 md:px-32 mb-20">
    <h2 class="text-xl font-bold mb-4">About Us</h2>
    <p>
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of using
      Lorem Ipsum is that it has a more-or-less normal distribution of letters,
      as opposed to using 'Content here, content here', making it look like
      readable English. Many desktop publishing packages and web page editors
      now use Lorem Ipsum as their default model text, and a search for 'lorem
      ipsum' will uncover many web sites still in their infancy. Various
      versions have evolved over the years, sometimes by accident, sometimes on
      purpose (injected humour and the like).
    </p>
  </div>

  <div class="px-10 md:px-32 mb-20">
    <h2 class="text-xl font-bold mb-4 border-b-2 border-[#B749A2] w-28">
      Contact Us
    </h2>
    <div class="text-sm font-semibold mb-2">
      Phone:
      <span class="text-[#5C63B1] text-xs font-medium">(678) 123-4567</span>
    </div>
    <div class="text-sm font-semibold mb-2">
      Email:
      <span class="text-[#5C63B1] text-xs font-medium"
        >support@example.com
      </span>
    </div>
    <div class="text-sm font-semibold mb-2">
      Address:
      <span class="text-[#5C63B1] text-xs font-medium"
        >75 Macoyan, Trinidad & Tobago</span
      >
    </div>
    <div class="text-sm font-semibold mb-2">
      Website:
      <span class="text-[#5C63B1] text-xs font-medium">www.website.com</span>
    </div>
  </div>

  <button
  class="mx-10 md:mx-32 px-6 py-2 mb-20 flex justify-center font-medium tracking-wide text-white transition-colors duration-300 transform bg-[#B749A2] rounded-md focus:outline-none uppercase leading-4"
>
  Post a Job
</button>
</div>
