<app-header-gradient></app-header-gradient>

<section class="box-lx">
    <div class="banner w-screen">
        <img class="w-screen" src="https://live.staticflickr.com/65535/52493138688_2de4a8476b_z.jpg">

    </div>

    <div class="search">
        <h1>Frequently Asked Question</h1>
        <input class="placeholder-black" type="text" placeholder="Search Here..." />
        <i class="fa fa-search sicon" aria-hidden="true"></i>
    </div>

    <section id="container">
        <div class="container">
            <div class="accordion">
                <div class="accordion-item" id="question1">
                    <a class="accordion-link" href="#question1">
                        How do i post a job on Amber Employ?
                        <i class="fa-solid fa-minus"></i>
                        <i class="fa-solid fa-plus"></i>
                    </a>
                    <div class="answer">
                        Here are the steps to manually post a job in your Recruit Carribean account<br>
                        1. Under Publish Jobs in your accout, click Post New Job.<br>
                        2. Complete the required feilds, including Job Title, Job Description, and Job Location.<br>
                        3. Click Proceed to Next Step.<br>
                        4. Complete any of the remaining optional feilds to add more details to your job posting, remaining feilds. <br>
                        (Note: the more information you including, the more likely candidates are to apply!)<br>
                        5. Click Save and Publish
                    </div>
                </div>
            </div>
            <div class="accordion-item" id="question2">
                <a class="accordion-link" href="#question2">
                    How do i edit my profile?
                    <i class="fa-solid fa-minus"></i>
                    <i class="fa-solid fa-plus"></i>
                </a>
                <div class="answer">
                    Here are the steps to edit you profile
                </div>
            </div>
            <div class="accordion-item" id="question3">
                <a class="accordion-link" href="#question3">
                    How do i search for an applicant?
                    <i class="fa-solid fa-minus"></i>
                    <i class="fa-solid fa-plus"></i>
                </a>
                <div class="answer">
                    Here are the steps to search for an applicant
                </div>
            </div>
            <div class="accordion-item" id="question4">
                <a class="accordion-link" href="#question4">
                    How do i unregister my account?
                    <i class="fa-solid fa-minus"></i>
                    <i class="fa-solid fa-plus"></i>
                </a>
                <div class="answer">
                    Here are the steps to closing your account
                </div>
            </div>
        </div>
    </section>
</section>
