<footer>
  <div class="row">
    <div class="col col1">
      <img src="/assets/images/logo-1-removebg-preview (1).png" alt="Logo">
    </div>
    <div class="col">
      <h3>About</h3>
      <ul>
        <li>Job Listings</li>
        <li>About Us</li>
        <li>Contact Us</li>
        <li>Terms of Use</li>
        <li>FAQ</li>
      </ul>
    </div>
    <div class="col">
      <h3>Candidates</h3>
      <ul>
        <li>Learn More</li>
        <li>Register</li>
        <li>Search Jobs</li>
      </ul>
    </div>
    <div class="col">
      <h3>Employers</h3>
      <ul>
        <li>Learn More</li>
        <li>Post a Job</li>
        <li>Search Resumes</li>
      </ul>

    </div>
    <div class="col col5">
      <h3>Follow Us</h3>
      <ul>
        <li><i class="fab fa-whatsapp"></i></li>
        <li><i class="fab fa-tiktok"></i></li>
        <li><i class="fab fa-facebook-f"></i></li>
        <li><i class="fab fa-youtube"></i></li>
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="fab fa-twitter"></i></li>
      </ul>
    </div>
  </div>
  <div class="tradeMark">
    <p> &copy; 2022 Amber Employ Ltd. Trademarks and brands are the property of their respective owners.
    </p>
  </div>
</footer>
