<footer>
    <img src="assets/logo-1-removebg-preview (1).png">


    <div class="first">
        <h1>ABOUT</h1>
        <a href="joblisting">Job Listings</a>
        <a href="aboutus">About</a>
        <a href="contactus">Contact Us</a>
        <a href="faq">Terms of Use</a>
        <a href="faq">FAQ</a>
    </div>

    <div class="second">
        <h1>Candidates</h1>
        <a href="#">Learn More</a>
        <a href="#">Register</a>
        <a href="#">search Jobs</a>
    </div>

    <div class="third">
        <h1>EMPLOYERS</h1>
        <a href="#">Learn More</a>
        <a href="#">Post a job</a>
        <a href="#">Search Resumes</a>
    </div>

    <div class="social">
        <h1>Follow Us</h1>
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-brands fa-tiktok"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
    </div>
    </footer>