footer {
  width: 100%;
  background: radial-gradient(rgba(92, 99, 177, 1),rgba(183, 73, 162, 1));
  color: white;
}
.row {
  display: flex;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  padding: 2%;
}
.row .col h3 {
  font-size: 1.5em;
  margin-bottom: 2%;
  color: rgba(183, 73, 162, 1);
}
.row .col img {
  width: 150px;
  height: 100px;
  margin-top: 8%;
}
.col {
  flex: 20%;
}
.col ul {
  list-style-type: none;
}
.col {
  text-align: center;
}
.col1 {
  padding-left:3%;
}
.col5 ul {
  display: flex;
}
.col5 ul li {
  margin-right: 6%;

  /* font-size: 1em; */
}
.col5 ul i {
  font-size:1.5em;
}
.col5 h3 {
  text-align: left;
}
.tradeMark {
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  text-align: center;
  padding-bottom: 2%;
}
