header{
  display: flex;
  width: 100%;
  background: linear-gradient(to right, rgba(92, 99, 177, 1),rgba(92, 99, 177, 1),rgba(92, 99, 177, 1),rgba(92, 99, 177, 1),rgba(183, 73, 162, 1));
}
.overlay {
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
  width: 100%;
  display: flex;
}
header .headerLinks{
  width: 60%;
  display: flex;
  justify-content: space-around;
  padding: 0 4%;
}

header .headerLinks a{
	position: relative;
  color: white;
  display: flex;
  margin: 2rem;
}

header a:hover{
    color: rgba(183,73,162,1);
    border-bottom: 2px solid white;
    animation: ease-out;
    animation-duration: 10ms;
}


header img{
    width: 13%;
    align-self: center;
    margin-right: 5%;
}

header .signInUp i{
  /* position: relative; */
  z-index: 2;
  font-size: 1.5rem;
  color: white;
  margin-top: 4%;
}
header .signInUp {
  width: 15%;
  margin-left: 5%;
  padding-top: 2.2rem;
}
header .signInUp ul {
  list-style: none;
  justify-content: space-between;
  display: flex;
  color: white;
}
