<header>
  <div class="overlay">

    <img src="/assets/images/logo-1-removebg-preview (1).png">

    <div class="headerLinks">
      <a href="home">HOME</a>
      <a href="jobListing">JOB LISTINGS</a>
      <a href="contactus">CONTACT US</a>
      <a href="aboutus">ABOUT US</a>
      <a href="faq">FAQ</a>
    </div>

    <div class="signInUp">
      <ul>
        <li><a routerLink="/login">Sign In </a></li>
        <li>|</li>
       <li><a routerLink="/register">Sign Up </a></li>
       <li><i class="fa fa-user icon" aria-hidden="true"></i></li>
      </ul>
    </div>
  </div>


</header>
