.registrationForm {
  width: 50%;
  height: auto;
  /* margin-left: 20%; */
  margin: 5% 25%;


}
.registrationForm .container {
width: 100%;
border: 1px solid rgba(0,0,0,0.5);
box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
padding: 5%;
}
.registrationForm .toggle{
  border: none;
  background-color: rgba(92, 99, 177, 1)
  ;
}
.registrationForm .container h1{
  font-size: 24px;
  font-weight: 600;
  color: rgba(109, 109, 109, 1);
  margin: 5% 0;
}
.registrationForm .container input{
  border: 1px solid rgba(0,0,0,0.5);
  padding: 10px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  width: 260px;

}
.registrationForm .container input[placeholder] {
  color: rgba(92, 99, 177, 1);
  font-size: 13px;
}

.registrationForm .container .row {
  display:flex;
  width: 100%;
  flex: 50%;
  justify-content: space-between;
  margin-bottom: 2%;
}

button{
  background-color: rgba(183, 73, 162, 1);
  color: white;
  border-radius: 5px;
  margin: 5% 0 0 40%;
  padding: 8px;
  width: 20%;
}
span{
  color: red;
  margin-bottom: 5%;
  transform: translateY(-60px)
}
