<app-header></app-header>
<div class="headingImg">
  <h1>Our <span>Job</span> Listings</h1>

</div>

<div class="container">
  <h1>Job Search</h1>

  <div class="search">
    <select>
      <option value="">Job Type</option>
    </select>

    <input type="text" placeholder="Location">

    <input type="search" placeholder="Search">
    <img src="./assets/images/magnifying-glass-solid.svg">
  </div>

  <div class="jobListCon">

    <div class="row">
      <div class="col col1">
        <h3>Job Type</h3>

        <ul>
          <li><input type="checkbox" value="accounting"> Accounting</li>
          <li><input type="checkbox" value="accounting"> Administration</li>
          <li><input type="checkbox" value="accounting"> Agriculture</li>
          <li><input type="checkbox" value="accounting"> Analyst</li>
          <li> <input type="checkbox" value="accounting"> Architecture</li>
          <li><input type="checkbox" value="accounting"> Booking Agent</li>
        </ul>

        <i class="fas fa-chevron-down"></i>
      </div>

      <div class="col col2">

        <div class="list">
          <p>List Of Available Jobs</p>
          <p>Results Per Page</p>
        </div>

        <div class="card">
          <div>
            <h2>Account Manager</h2>
            <h3>Massy Distribution (Trinidad)</h3>
            <!-- <h1>{{job.title}}</h1>
            <h3>{{job.companyName}}</h3> -->

            <div class="jobDets">
              <img src="./assets/images/briefcase-solid.svg">
              <!-- <h3>{{job.position}}</h3> -->
              <p style="width:40%">Management, Manager</p>

              <a href="#"><p>View Job <i class="fas fa-chevron-right"></i></p></a>

            </div>

            <div class="jobDets">
              <img src="./assets/images/location-dot-solid.svg">
              <p style="width:80%">Macoya, Trinidad and Tobago</p>

              <div class="time">
                <img src="./assets/images/clock-regular.svg">
                <p> Permanent (Full-Time)</p>
              </div>
            </div>

            <div class="jobDets">
              <img src="./assets/images/calendar-days-solid.svg">
              <p>Oct. 10, 2022</p>
            </div>

          </div>


        </div>

        <!--Pagination-->
        <div class="pagination">
          <a href="#">Previous</a>
          <a class="active" href="#">1</a>
          <a href="#">2</a>
          <a href="#">Next</a>
        </div>
      </div>


    </div>
  </div>
</div>

