<app-header></app-header>
<section class="overflow-hidden md-flex">
    <div class="banner md-flex-shrink-0">
        <img src="https://live.staticflickr.com/65535/52493053340_0a91405dc5_h.jpg" class="">
        <h1>Contact Us</h1>
    </div>

    <div class="info">
        <h1>Let's Start a Conversation</h1>
        <p><i class="fa-solid fa-phone"></i>Phone: <a>(876) 123-4567</a></p>
        <p><i class="fa-solid fa-envelope"></i>Email: <a>Support@example.com</a></p>
        <p><i class="fa-solid fa-location-dot"></i>Address: <a>15 Long Last Cresent, Kingston 72, Jamaica</a></p>
    </div>

    <div class="form-con">

        <form action="#" method="post"  >
        <input type="text" placeholder="Full Name" id="fullname" class="placeholder-purple-400 p-3" >
        <input type="email" placeholder="Email" id="email" class="placeholder-purple-400 p-3">
        <div id="righ">
            <input type="text" placeholder="Company Name" id="companyname" class="placeholder-purple-400 p-3 ">
            <input type="tel" placeholder="Phone" id="phonenumber" class="placeholder-purple-400 p-3">
        </div>
        <input type="text" placeholder="Select Department" id="department" class="placeholder-purple-400 p-3" id="depa">

        <textarea name="message"cols="5" rows="50" class="border border-black border-solid ">
            Message
        </textarea>

        <button type="submit" class="w-64 p-4 m-8 object-bottom text-white rounded-2xl ">Send us a message</button>
    </form>
</div>
</section>
