<app-header-gradient></app-header-gradient>
<div class="registrationForm">

  <div class="container">



      <form [formGroup]="companyRegisterForm" (ngSubmit)="onSubmit()" >

        <h1>Company Registration</h1>

        <div class="form-group">
          <!-- <label for="companyName">Company Name:</label> -->
          <input type="text" class="form-control" formControlName="companyName" placeholder="Company Name" required >
          <br>
          <span *ngIf="companyRegisterForm.get('companyName')?.errors?.['required'] && companyRegisterForm.get('companyName')?.touched">Please Provide Company Name </span>
          <span *ngIf="companyRegisterForm.get('companyName')?.errors?.['minlength']">Company Name must have at least 3 characters. </span>
        </div>

        <div class="row">
          <div class="form-group col">
            <!-- <label for="userName">User Name :</label> -->
            <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Phone Number" required >
            <br>
            <span *ngIf="companyRegisterForm.get('phoneNumber')?.errors?.['required'] && companyRegisterForm.get('phoneNumber')?.touched">Please provide phone number</span>
            <span *ngIf="companyRegisterForm.get('phoneNumber')?.errors?.['maxlength']">Phone number must be no more than 11 characters.</span>
          </div>

          <div class="form-group col">
            <input type="text" class="form-control" formControlName="companyOp" placeholder="Company Operation" required >
            <br>
            <span *ngIf="companyRegisterForm.get('companyOp')?.errors && companyRegisterForm.get('companyOp')?.touched">Company's address is Required </span>
          </div>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" formControlName="address" placeholder="Address" required >
          <br>
          <span *ngIf="companyRegisterForm.get('address')?.errors && companyRegisterForm.get('address')?.touched">Company's address is Required </span>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" formControlName="country" placeholder="Country" required >
          <br>
          <span *ngIf="companyRegisterForm.get('country')?.errors && companyRegisterForm.get('country')?.touched">Country's name is Required </span>
        </div>


        <div class="row">

          <div class="col">

            <div class="form-group">
              <input type="text" class="form-control" formControlName="zipCode" placeholder="Zip Code" required >
              <br>
              <span *ngIf="companyRegisterForm.get('zipCode')?.errors && companyRegisterForm.get('zipCode')?.touched">zip code is Required </span>
            </div>

            <div class="form-group">
              <!-- <label for="password">Password:</label> -->
              <input type="password" placeholder="Password" class="form-control" formControlName="password" required >
              <br>
              <span *ngIf="companyRegisterForm.get('password')?.errors && companyRegisterForm.get('password')?.touched">Please provide password</span>
            </div>

            <div class="form-group">

              <input type="file" placeholder="Upload Logo" class="form-control" formControlName="uploadLogo" required >
              <br>
              <span *ngIf="companyRegisterForm.get('uploadLogo')?.errors && companyRegisterForm.get('uploadLogo')?.touched">Please upload company logo</span>
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <input type="email" class="form-control" formControlName="email" placeholder="Email" required >
              <br>
              <span *ngIf="companyRegisterForm.get('email')?.errors && companyRegisterForm.get('email')?.touched">Email is Required </span>
            </div>

            <div class="form-group">
              <!-- <label for="passwordConfirmed">Confirm password:</label> -->
              <input type="password" placeholder="Confirm password" class="form-control" formControlName="passwordConfirmed" required >
              <br>
              <span *ngIf="companyRegisterForm.get('passwordConfirmed')?.errors && companyRegisterForm.get('passwordConfirmed')?.touched">Please confirm password</span>
            </div>

            <div class="form-group">

              <input type="file" placeholder="Upload Certificate" class="form-control" formControlName="uploadCerti" required >
              <br>
              <span *ngIf="companyRegisterForm.get('uploadCerti')?.errors && companyRegisterForm.get('uploadCerti')?.touched">Please company business certificate</span>
            </div>
          </div>

        </div>




          <button type="submit">Create</button>
      </form>


  </div>

</div>


