<body>
    
    <header>
        <img src="assets/logo-1-removebg-preview (1).png">
        
        <a href="../home/home.component.html">HOME</a>
    <a href="../job-listing/job-listing.component.html">JOB LISTINGS</a>
    <a href="../contact-us/contact-us.component.html">CONTACT US</a>
    <a href="../about-us/about-us.component.html">ABOUT US</a>
    <a href="../faqs/faqs.component.html">FAQ</a>

    
    <i class="fa fa-user icon" aria-hidden="true"></i>
</header>

<section class="A3">
   <h1>ABOUT US</h1>
</section>

<section class="para">
    <img src="assets/home-office.jpg">
    <p>It is a long established fact that a reader will be distracted <br> 
        by the readable content of a page when looking at its <br> 
        layout. The point of using Lorem Ipsum is that it has a <br> 
        more-or-less normal distribution of letters, as opposed to <br>
         using 'Content here, content here', making it look like <br>
         readable English. Many desktop publishing packages and <br>
         web page editors now use Lorem Ipsum as their default <br>
         model text, and a search for 'lorem ipsum' will uncover <br>
         many web sites still in their infancy. Various versions have <br>
         evolved over the years, sometimes by accident, sometimes <br>
         on purpose (injected humour and the like).
           
   </p>
</section>


<section class="para2">
    <img src="assets/laptop.jpg">
    <p>It is a long established fact that a reader will be distracted <br> 
        by the readable content of a page when looking at its <br> 
        layout. The point of using Lorem Ipsum is that it has a <br> 
        more-or-less normal distribution of letters, as opposed to <br>
        using 'Content here, content here', making it look like <br>
        readable English. Many desktop publishing packages and <br>
         web page editors now use Lorem Ipsum as their default <br>
         model text, and a search for 'lorem ipsum' will uncover <br>
         many web sites still in their infancy. Various versions have <br>
         evolved over the years, sometimes by accident, sometimes <br>
         on purpose (injected humour and the like).
           
   </p>
</section>
        <div class="filler">         
        </div>

    <footer>
        <img src="assets/logo-1-removebg-preview (1).png">


        <div class="first">
            <h1>ABOUT</h1>
            <a href="../job-listing/job-listing.component.html">Job Listings</a>
            <a href="./about-us.component.html">About</a>
            <a href="../contact-us/contact-us.component.html">Contact Us</a>
            <a href="../faqs/faqs.component.html">Terms of Use</a>
            <a href="../faqs/faqs.component.html">FAQ</a>
        </div>

        <div class="second">
            <h1>Candidates</h1>
            <a href="#">Learn More</a>
            <a href="#">Register</a>
            <a href="#">search Jobs</a>
        </div>

        <div class="third">
            <h1>EMPLOYERS</h1>
            <a href="#">Learn More</a>
            <a href="#">Post a job</a>
            <a href="#">Search Resumes</a>
        </div>
    </footer>

    </body>