<app-header-gradient></app-header-gradient>

<div class="titleHeading">
  <h1>Accounting Manager</h1>
  <h2>Massy Distribution (Trinidad)</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col col1">
      <h2>Job Description</h2>

      <h3>Job Brief</h3>
      <p></p>

      <h3>Responsibilities</h3>
      <ul>
        <li>Serve as the lead point of contact for all customer account management matters</li>
        <li>Build and maintain strong, long-lasting client relationships</li>
        <li>Negotiate contracts and close agreements to maximize profits</li>
        <li> Develop trusted advisor relationships with key accounts, customer stakeholders and executive sponsors</li>
        <li>Ensure the timely and successful delivery of our solutions according to customer needs and objectives.</li>
        <li>Forecast and track key account metrics (e.g. quarterly sales results and annual forecasts)</li>
        <li>Prepare reports on account status</li>
        <li>Collaborate with sales team to identify and grow opportunities within territory</li>
        <li>Assist with challenging client requests or issue escalations as needed</li>

      </ul>

      <h3>Requirements and Skills</h3>

      <ul>
       <li>Proven work experience as an Account Manager, Key Account Manager, Sales Account Manager, Junior Account Manager or relevant role.</li>
       <li>Demonstrable ability to communicate, present and influence key stakeholders at all levels of an organization, including executive and C-level.</li>
       <li>Solid experience with CRM software (e.g. Salesforce, Zoho CRM or HubSpot) and MS Office (particularly MS Excel).</li>
       <li>Experience delivering client-focused solutions to customer needs.</li>
       <li>Proven ability to juggle multiple account management projects at a time, while maintaining sharp attention to detail.</li>
       <li>Excellent listening, negotiation and presentation abilities.</li>
       <li>Strong verbal and written communication skills.</li>
       <li>BA/BS degree in Business Administration, Sales or relevant field.</li>
      </ul>

      <button>Login or Register to Apply</button>


    </div>

    <div class="col col2">
      <p>Occupation: </p>
      <p>Speacialty: </p>
      <p>Salary Type: </p>
      <p>Experience Level: </p>
      <p>Resume Required: </p>
      <p>Position Type: </p>
      <p>Location: </p>
    </div>

  </div>

</div>
